{% extends "portfolio/base.html" %}

{% block content %}
    <br>

<div class="_image">

</div>


<br>
<h4 style="font-family: 'Copperplate Gothic Bold'">Please fill-in the form to complete registration</h4>

<div style="border-style: outset;border-width: thick; padding: 4%; align-content: center">
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <br>
        <input type="submit" value="Register"/>
    </form>
</div>

{% endblock %}